# COVID-19 Data Analysis
**Joe Corliss**

Data download links

* Confirmed cases: [time_series_covid19_confirmed_global.csv](https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv)
* Deaths: [time_series_covid19_deaths_global.csv](https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv)
* Recovered: [time_series_covid19_recovered_global.csv](https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv)

## Execution Options

In [1]:
data_path = '../data/'
metric = 'deaths'

In [24]:
# Validate options
assert metric in {'confirmed', 'deaths', 'recovered'}, "Bad input for option 'metric'"

## Imports

In [3]:
import datetime
import sys

In [4]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
# Check package versions
assert sys.version.split()[0] == '3.6.10', 'Unexpected Python version: expected 3.6.10, got {}'.format(sys.version.split()[0])
assert mpl.__version__ == '3.1.3', 'Unexpected matplotlib version: expected 3.1.3, got {}'.format(mpl.__version__)
assert np.__version__ == '1.18.1', 'Unexpected numpy version: expected 1.18.1, got {}'.format(np.__version__)
assert pd.__version__ == '1.0.3', 'Unexpected pandas version: expected 1.0.3, got {}'.format(pd.__version__)

In [6]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

## Functions

In [7]:
def compare_locales(df1, df2):
    """Check whether two time series DataFrames have the same State/Country indices."""
    if df1.shape != df2.shape:
        return False
    else:
        comparison = (df1.iloc[:, :2] == df2.iloc[:, :2]) | (df1.iloc[:, :2].isna() & df2.iloc[:, :2].isna())
        return comparison.all().all()

## Load data

In [8]:
confirmed = pd.read_csv(data_path + 'time_series_covid19_confirmed_global.txt')
deaths = pd.read_csv(data_path + 'time_series_covid19_deaths_global.txt')
# recovered = pd.read_csv(data_path + 'time_series_covid19_recovered_global.txt')

In [9]:
print('Confirmed updated to:\t', confirmed.columns[-1])
print('Deaths updated to:\t', deaths.columns[-1])

Confirmed updated to:	 3/28/20
Deaths updated to:	 3/28/20

In [10]:
assert compare_locales(confirmed, deaths), 'confirmed and deaths DataFrames have different locales'

In [11]:
counts = eval(metric)

In [12]:
del confirmed, deaths

In [13]:
counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 71 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  79 non-null     object
 1   Country/Region  253 non-null    object
 2   Lat             253 non-null    float64
 3   Long            253 non-null    float64
 4   1/22/20         253 non-null    int64
 5   1/23/20         253 non-null    int64
 6   1/24/20         253 non-null    int64
 7   1/25/20         253 non-null    int64
 8   1/26/20         253 non-null    int64
 9   1/27/20         253 non-null    int64
 10  1/28/20         253 non-null    int64
 11  1/29/20         253 non-null    int64
 12  1/30/20         253 non-null    int64
 13  1/31/20         253 non-null    int64
 14  2/1/20          253 non-null    int64
 15  2/2/20          253 non-null    int64
 16  2/3/20          253 non-null    int64
 17  2/4/20          253 non-null    int64
 18  2/5/20          253 non-null    int64
 19  2/6/20          253 non-null    int64
 20  2/7/20          253 non-null    int64
 21  2/8/20          253 non-null    int64
 22  2/9/20          253 non-null    int64
 23  2/10/20         253 non-null    int64
 24  2/11/20         253 non-null    int64
 25  2/12/20         253 non-null    int64
 26  2/13/20         253 non-null    int64
 27  2/14/20         253 non-null    int64
 28  2/15/20         253 non-null    int64
 29  2/16/20         253 non-null    int64
 30  2/17/20         253 non-null    int64
 31  2/18/20         253 non-null    int64
 32  2/19/20         253 non-null    int64
 33  2/20/20         253 non-null    int64
 34  2/21/20         253 non-null    int64
 35  2/22/20         253 non-null    int64
 36  2/23/20         253 non-null    int64
 37  2/24/20         253 non-null    int64
 38  2/25/20         253 non-null    int64
 39  2/26/20         253 non-null    int64
 40  2/27/20         253 non-null    int64
 41  2/28/20         253 non-null    int64
 42  2/29/20         253 non-null    int64
 43  3/1/20          253 non-null    int64
 44  3/2/20          253 non-null    int64
 45  3/3/20          253 non-null    int64
 46  3/4/20          253 non-null    int64
 47  3/5/20          253 non-null    int64
 48  3/6/20          253 non-null    int64
 49  3/7/20          253 non-null    int64
 50  3/8/20          253 non-null    int64
 51  3/9/20          253 non-null    int64
 52  3/10/20         253 non-null    int64
 53  3/11/20         253 non-null    int64
 54  3/12/20         253 non-null    int64
 55  3/13/20         253 non-null    int64
 56  3/14/20         253 non-null    int64
 57  3/15/20         253 non-null    int64
 58  3/16/20         253 non-null    int64
 59  3/17/20         253 non-null    int64
 60  3/18/20         253 non-null    int64
 61  3/19/20         253 non-null    int64
 62  3/20/20         253 non-null    int64
 63  3/21/20         253 non-null    int64
 64  3/22/20         253 non-null    int64
 65  3/23/20         253 non-null    int64
 66  3/24/20         253 non-null    int64
 67  3/25/20         253 non-null    int64
 68  3/26/20         253 non-null    int64
 69  3/27/20         253 non-null    int64
 70  3/28/20         253 non-null    int64
dtypes: float64(2), int64(67), object(2)
memory usage: 140.5+ KB

In [14]:
counts.drop(columns={'Lat', 'Long'}, inplace=True)

In [15]:
counts.rename(columns={'Country/Region': 'country', 'Province/State': 'province'}, inplace=True)

In [16]:
counts.sample(5)

,province,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20
56,Guizhou,China,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
94,NaN,Denmark,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,3,4,4,6,9,13,13,24,32,34,41,52,65
222,Montserrat,United Kingdom,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,New South Wales,Australia,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,2,2,2,2,2,4,5,5,6,6,6,6,7,7,7,7,8
112,Reunion,France,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Look for Double-counting

In [17]:
counts['country'].value_counts()

China                               33
Canada                              15
United Kingdom                      10
France                              10
Australia                            8
Netherlands                          4
Denmark                              3
Djibouti                             1
Venezuela                            1
Romania                              1
Laos                                 1
Tunisia                              1
Jamaica                              1
Montenegro                           1
Bosnia and Herzegovina               1
Georgia                              1
Azerbaijan                           1
Dominica                             1
Iran                                 1
US                                   1
Gambia                               1
Egypt                                1
Poland                               1
Honduras                             1
India                                1
Cabo Verde                           1
Germany                              1
Malaysia                             1
Ethiopia                             1
Iraq                                 1
Kosovo                               1
Pakistan                             1
Congo (Brazzaville)                  1
Liechtenstein                        1
Colombia                             1
Mauritania                           1
Sri Lanka                            1
Grenada                              1
Turkey                               1
Guatemala                            1
Estonia                              1
Panama                               1
Saint Vincent and the Grenadines     1
Barbados                             1
Belarus                              1
Bhutan                               1
Somalia                              1
Belize                               1
Zimbabwe                             1
Ecuador                              1
El Salvador                          1
Moldova                              1
Liberia                              1
Bahamas                              1
Maldives                             1
Angola                               1
Mozambique                           1
Finland                              1
Italy                                1
Thailand                             1
Israel                               1
Rwanda                               1
Morocco                              1
Kenya                                1
Brunei                               1
Iceland                              1
Chile                                1
New Zealand                          1
Paraguay                             1
Greece                               1
Dominican Republic                   1
Singapore                            1
Nepal                                1
Mexico                               1
Uganda                               1
Croatia                              1
Russia                               1
Bangladesh                           1
Malta                                1
Sweden                               1
Gabon                                1
Burma                                1
Togo                                 1
Mali                                 1
Kuwait                               1
Mongolia                             1
Andorra                              1
Equatorial Guinea                    1
Papua New Guinea                     1
Costa Rica                           1
Senegal                              1
Suriname                             1
United Arab Emirates                 1
Portugal                             1
Taiwan*                              1
Nicaragua                            1
Monaco                               1
Mauritius                            1
Qatar                                1
Niger                                1
Cameroon                             1
Bahrain                              1
Belgium                              1
Saint Kitts and Nevis                1
North Macedonia                      1
MS Zaandam                           1
Norway                               1
Sudan                                1
Antigua and Barbuda                  1
Guinea                               1
Brazil                               1
Cyprus                               1
Cuba                                 1
Zambia                               1
Afghanistan                          1
Slovenia                             1
Libya                                1
Oman                                 1
Latvia                               1
Madagascar                           1
Seychelles                           1
Slovakia                             1
Lebanon                              1
Peru                                 1
Uzbekistan                           1
Chad                                 1
Korea, South                         1
Japan                                1
Bulgaria                             1
Eswatini                             1
Armenia                              1
Namibia                              1
Ghana                                1
Argentina                            1
Kazakhstan                           1
Nigeria                              1
Benin                                1
Cote d'Ivoire                        1
Syria                                1
Haiti                                1
Tanzania                             1
South Africa                         1
Saint Lucia                          1
Indonesia                            1
Guinea-Bissau                        1
Serbia                               1
Lithuania                            1
Cambodia                             1
Burkina Faso                         1
Timor-Leste                          1
Guyana                               1
Diamond Princess                     1
West Bank and Gaza                   1
Uruguay                              1
Luxembourg                           1
Algeria                              1
Austria                              1
Switzerland                          1
Czechia                              1
Vietnam                              1
Kyrgyzstan                           1
San Marino                           1
Fiji                                 1
Philippines                          1
Congo (Kinshasa)                     1
Bolivia                              1
Albania                              1
Ukraine                              1
Jordan                               1
Ireland                              1
Central African Republic             1
Spain                                1
Trinidad and Tobago                  1
Eritrea                              1
Hungary                              1
Saudi Arabia                         1
Holy See                             1
Name: country, dtype: int64

List current count by country and province, sorted by country ascending, then count descending:

In [22]:
counts.loc[counts['country'].map(counts['country'].value_counts() > 1)].iloc[:, [1, 0, -1]].sort_values(['country', counts.columns[-1]], ascending=[True, False])

            country                      province  3/28/20
9         Australia               New South Wales        8
14        Australia                      Victoria        3
15        Australia             Western Australia        2
11        Australia                    Queensland        1
8         Australia  Australian Capital Territory        0
10        Australia            Northern Territory        0
12        Australia               South Australia        0
13        Australia                      Tasmania        0
44           Canada                        Quebec       22
42           Canada                       Ontario       18
36           Canada              British Columbia       17
35           Canada                       Alberta        2
38           Canada                      Manitoba        1
231          Canada              Diamond Princess        1
37           Canada                Grand Princess        0
39           Canada                 New Brunswick        0
40           Canada     Newfoundland and Labrador        0
41           Canada                   Nova Scotia        0
43           Canada          Prince Edward Island        0
45           Canada                  Saskatchewan        0
238          Canada                     Recovered        0
245          Canada         Northwest Territories        0
246          Canada                         Yukon        0
62            China                         Hubei     3177
60            China                         Henan       22
59            China                  Heilongjiang       13
50            China                       Beijing        8
54            China                     Guangdong        8
73            China                      Shandong        7
49            China                         Anhui        6
51            China                     Chongqing        6
57            China                        Hainan        6
58            China                         Hebei        6
74            China                      Shanghai        5
61            China                     Hong Kong        4
63            China                         Hunan        4
72            China                       Shaanxi        3
76            China                       Sichuan        3
77            China                       Tianjin        3
79            China                      Xinjiang        3
53            China                         Gansu        2
55            China                       Guangxi        2
56            China                       Guizhou        2
68            China                      Liaoning        2
80            China                        Yunnan        2
52            China                        Fujian        1
64            China                Inner Mongolia        1
66            China                       Jiangxi        1
67            China                         Jilin        1
81            China                      Zhejiang        1
65            China                       Jiangsu        0
69            China                         Macau        0
70            China                       Ningxia        0
71            China                       Qinghai        0
75            China                        Shanxi        0
78            China                         Tibet        0
94          Denmark                           NaN       65
92          Denmark                 Faroe Islands        0
93          Denmark                     Greenland        0
116          France                           NaN     2314
109          France                    Guadeloupe        2
115          France                    Martinique        1
107          France                 French Guiana        0
108          France              French Polynesia        0
110          France                       Mayotte        0
111          France                 New Caledonia        0
112          France                       Reunion        0
113          France              Saint Barthelemy        0
114          France                     St Martin        0
169     Netherlands                           NaN      639
167     Netherlands                       Curacao        1
166     Netherlands                         Aruba        0
168     Netherlands                  Sint Maarten        0
223  United Kingdom                           NaN     1019
218  United Kingdom                Cayman Islands        1
219  United Kingdom               Channel Islands        1
217  United Kingdom                       Bermuda        0
220  United Kingdom                     Gibraltar        0
221  United Kingdom                   Isle of Man        0
222  United Kingdom                    Montserrat        0
249  United Kingdom                      Anguilla        0
250  United Kingdom        British Virgin Islands        0
251  United Kingdom      Turks and Caicos Islands        0

## Processing

In [39]:
counts.insert(0, 'locale', counts['country'].where(counts['province'].isnull(), counts['country'] + '/' + counts['province']))

In [41]:
counts.drop(columns={'province', 'country'}, inplace=True)

In [43]:
counts = counts.melt(id_vars=['locale'], var_name='date', value_name='count')

In [44]:
counts['date'] = pd.to_datetime(counts['date'])

In [45]:
counts.sample(5)

               locale       date  count
1904             Iran 2020-01-29      0
9693   China/Xinjiang 2020-02-29      3
10314          Serbia 2020-03-02      0
4258             Togo 2020-02-07      0
14776         Estonia 2020-03-20      0

In [52]:
counts.loc[counts['locale'].str.contains('China')].sort_values(['locale', 'date'])

               locale       date  count
49        China/Anhui 2020-01-22      0
302       China/Anhui 2020-01-23      0
555       China/Anhui 2020-01-24      0
808       China/Anhui 2020-01-25      0
1061      China/Anhui 2020-01-26      0
...               ...        ...    ...
15767  China/Zhejiang 2020-03-24      1
16020  China/Zhejiang 2020-03-25      1
16273  China/Zhejiang 2020-03-26      1
16526  China/Zhejiang 2020-03-27      1
16779  China/Zhejiang 2020-03-28      1

[2211 rows x 3 columns]

In [ ]:
for country in deaths['country'].unique()[-20:]:
    plt.figure()
    deaths.loc[deaths['country'] == country].sort_values('date')['deaths'].apply(lambda x: np.log10(x + 1)).plot.line(marker='.')
    plt.grid(True)
    plt.title(country)

### Calculate finite differences